body
{
    background-color: #ebebeb;
    font-family: Verdana;
    font-size: 12px;
}
#wraper
{
    background-color: white;
    width: 1024px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    border: 1px Solid #aa1111;
}
#header
{
    width: 357px;
    height: 101px;
    float: left;
    padding-left: 50px;
}
#gameBar
{
    width: 540px;
    height: 150px;
    overflow: hidden;
}
#leftNav
{
    width: 170px;
    float: left;
}

#content
{
    width: 600px;
    min-height: 300px;
    margin: 0px 0px 0px 0px;
    padding: 0px 2px 2px 2px;
    float: left;
    
}

#rightNav
{
    float: left;
}

#center
{
    background-color: #aa1111;
    box-shadow: 2px 2px 2px #000000;
    padding: 10px 2px 2px 2px;
    float: left;
    width: 1000px;
    margin: 0px 10px 0px 5px;
    }

#footer
{
    text-align: right;
    color: #aa1111;
    font-family: Verdana;
    font-size: small;
    margin: 0px 20px 5px 0px;
    clear: both;
}
