body
{
    font-family: Verdana;
    font-size: 12px;
    background-color: #F3F4EC;
}
#wraper
{
    background-color: #507642;
    width: 1024px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    border: 1px Solid #000000;
}
#header
{
    width:100%;
    min-height: 150px;
    float: left;
    padding-left: 10px;
}

#search
{
    width: 300px;
    float: left;
    margin-bottom: 10px;
}

#gameBar
{
    width: 540px;
    height: 150px;
    overflow: hidden;
    float: right;
}
#leftNav
{
    width: 170px;
    float: left;
}

#content
{
    width: 620px;
    min-height: 400px;
    margin: 0px 0px 0px 5px;
    padding: 10px;
    float: left;
    background-color: #F3F4EC;
    box-shadow: 2px 2px 2px #000000 inset;
}

#contentAdmin
{
    width: 800px;
    min-height: 400px;
    margin: 0px 0px 0px 5px;
    padding: 10px;
    float: left;
    background-color: #F3F4EC;
    box-shadow: 2px 2px 2px #000000 inset;
}

#rightNav
{
    float: right;
}


#footer
{
    padding: 10px;
    text-align: right;
    color: #F3F4EC;
    font-family: Verdana;
    font-size: small;
    margin: 0px 20px 5px 0px;
    clear: both;
    font-size: small;
}
