#wrapHomeGame
{
    border: 1px solid #aa1111;
    width: 588px;
    border-radius: 3px;
    margin: 10px 10px 10px 0px;
    background-color: #ebebeb;
    
}

#wrapHomeGame #name
{
    color: Black;
    margin: 5px 0px 0px 5px;
    
}

#wrapHomeGame .item
{
    background-color:Black;
    margin: 15px;
    box-shadow: 2px 2px 2px black;
    
}
#wrapHomeGame .image
{
    
}
#wrapHomeGame .gameName
{
    text-align:center;
    color: White;
}