#wrapUser
{
    width: 159px;
    border: 3px solid #aa1111;
    margin: 0px 5px 0px 5px;
    background-color:#ebebeb;
    box-shadow: 1px 1px 1px #000000;
}

#wrapUser a
{
    color: #aa1111;
    
}

#wrapUser .button
{
    margin: 5px 0px 10px 0px;
    text-align: center;
}

#wrapUser #name
{
    text-align: center;
    color: White;
    background-color: Black;
    padding: 3px;
}

#wrapUser #image
{
    text-align: center;
    padding: 10px;
    
}
#wrapUser #avatar
{
    border: 1px solid #aa1111;
    background-color: Black;
}