#wrapCm #txt
{
    float: left;
    margin: 10px;
    overflow: hidden;
}
#wrapCm #btn
{
    margin: 10px 5px 5px 5px;
    min-height: 50px;
    padding-top: 5px;
}
#wrapCm .user
{
    margin: 0px 5px 20px 20px;
    float: left;
    width: 50px;
}
#wrapCm .comment
{
    float: left;
    padding: 2px;
    width: 350px;
    padding: 10px 5px 10px 5px;
}
#wrapCm 
{
    float: left;
    width: 400px;
}
