#gameWrap
{
    min-height: 300px;
    width: 620px;
    
}
#gameTl
{
    padding: 5px 5px 5px 5px;
}
#gameWrap #gameImage .im
{
    float: left;
    width: 179px;
    margin: 5px 10px 0px 5px;
    border:2px solid #86942A;
    box-shadow: 1px 1px 1px 1px #000000;
}
#gameWrap #gameImage
{
    margin: 0px 0px 0px 10px;
    width: 200px;
    height: 500px;
    float: left;
}
#gameWrap #title 
{
    width: 580px;
    margin: 0px 0px 0px 0px;
    padding: 5px;
}

#gameWrap #title #txt
{
    font-family: Verdana;
    font-size: large;
    font-weight:bold;
    clear:both;
    margin: 5px;
    color: #86942A;
    }
#gameWrap #des
{
    font-family: Verdana;
    font-size: small;
    font-weight:normal;
    border:2px solid #86942A;
    margin: 10px 0px 0px 20px;
    padding: 5px;
    width: 560px;
    color: #86942A;
}

#gameWrap #totalLike
{
    float: left;
    margin-right: 3px;
}

#gameWrap #title #likeBtn
{
    
}