.gameBarItem
{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 10px;
    text-align:center;
    background-color: #CCCFBC;
    color: #000000;
    box-shadow: 1px 1px 1px #000000;
    -webkit-transition: background-color 0.5s, box-shadow 0.3s;
    -moz-transition: background-color 0.5s, box-shadow 0.3s;
    -o-transition: background-color 0.5s, box-shadow 0.3s;
    
}

.gameBarItem:hover
{
    background-color: #A37B45;
    box-shadow: 3px 3px 3px #000000;
}

#gameBarItems
{
    width: 540px;
    height: 120px;
    float: left;
}
.gameBarItem img
{
    margin-bottom: 5px;
}