.wrapLeftMenu
{
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    margin: 0px 0px 5px 0px;
    background-color: #507642;
    width: 180px;
}

.wrapLeftMenu a
{
    color: #000000;
    display: block;
    text-decoration: none;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}
.menu
{
    width: 200px;
    height: 25px;
    -webkit-transition: margin-left 0.5s, color 0.5s, width 0.5s, background-color 0.5s,left 1.5s, box-shadow 0.5s;
    -moz-transition: margin-left 0.5s, color 0.5s, width 0.5s, background-color 0.5s,left 1.5s, box-shadow 0.5s;
    -o-transition: margin-left 0.5s, color 0.5s, width 0.5s, background-color 0.5s,left 1.5s, box-shadow 0.5s;
    overflow: hidden;
    padding-top: 5px;
    padding-left: 10px;
    margin: 5px 0px 5px 0px;
}
.menu:hover
{
    background-color: #CCCFBC;
    margin-left: 20px;
    color: #A37B45;
    box-shadow: 1px 1px 1px 1px #000000;
    
}