#wrapLikeButton
{
    background-color: #86942A;
    border-radius: 9px;
    padding: 5px;
    width: 100px;
    color: #ffffff;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    
}

#wrapLikeButton:hover
{
    background-color: #000000;
}