#wrapUser
{
    width: 180px;
    margin: 0px 0px 0px 0px;
    background-color:#507642;
    padding-bottom: 10px;
    padding-top: 10px;
}

#wrapUser a
{
    color: #000000;
    
}

#wrapUser .button
{
    margin: 5px 0px 0px 10px;
}

#wrapUser #name
{
    text-align: center;
    color: #000000;
    background-color: #A37B45;
    padding: 3px;
}

#wrapUser #image
{
    text-align: center;
    padding: 10px;
    
}
#wrapUser #avatar
{
    border: 1px solid #aa1111;
    background-color: Black;
}